
$lighter-grey: #f9f9f9;
$light-grey: #dadce0;
$medium-grey: #767676;
$dark-grey: #515151;
$orange: #FF9340;
$white: #fff;
$black: #000;
$light-purple: #7e77ce;
$dark-purple: #5758bb;
$red-alpha: rgba(231, 76, 60, .5);
$red-hover: #e74c3c;

$text-xsmall: .6rem;
$text-small: .8rem;
$text-large: 1.2rem;
$text-xlarge: 1.4rem;
$text-xxlarge: 1.6rem;
$text-xxxlarge: 1.8rem;

$basic-border: 1px solid $light-grey;